@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --border: 220 13% 75%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
 
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }

  .text-shadow {
    text-shadow: 0px 0px 0px grey, 0 0 1em rgb(255, 255, 255), 0 0 0.8em rgb(20, 20, 145);
  }

  .svg-shadow {
    filter: drop-shadow(0px 0px 0px grey, 0 0 1em rgb(255, 255, 255), 0 0 0.8em rgb(20, 20, 145)); 
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}